@import 'tailwindcss';

/* @font-face {
  font-family: font1;
  src: url(../../public/fonts/61113dee61ddcb711e07aeb6_THICCCBOI-Bold.ttf);
}
@font-face {
  font-family: font2;
  src: url(../../public/fonts/61113dee6cbb630b6033a428_THICCCBOI-Medium.ttf);
}

@font-face {
  font-family: font3;
  src: url(../../public/fonts/61113deeeb3e8a3b9b58b3cb_THICCCBOI-SemiBold.ttf);
} */

.neon-orb {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(150px);
  background: conic-gradient(
    rgba(255, 0, 90, 1),
    rgba(190, 20, 255, 1),
    rgba(60, 80, 255, 1),
    rgba(255, 0, 90, 1)
  );
  animation: glowOrbRotate 6s linear infinite; /* smooth rotation */
}

@keyframes glowOrbRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
